<div>
    <div class="submit-form">
      @if (!submitted) {
      <div class="form-group">
        <label for="firstName">Firstname</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="patient.firstName"
          name="firstName"
        />
      </div>
  
      <div class="form-group">
        <label for="lastName">Lastname</label>
        <input
          class="form-control"
          id="lastName"
          required
          [(ngModel)]="patient.lastName"
          name="lastName"
        />
      </div>
  
      <button (click)="savePatient()" class="btn btn-success">Submit</button>
      } @else {
      <h4>Patient was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPatient()">Add</button>
      }
    </div>
  </div>
